<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Spotify Info!</title>
     <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Your Favorite Artists</h1>

    <% if (favorites.length === 0) { %>
        <p>No favorite artists yet.</p>
    <% } else { %>
        <ul>
            <% favorites.forEach(fav => { %>
                <li>
                    <% if (fav.image) { %>
                        <img src="<%= fav.image %>" width="100">
                    <% } %>
                    <%= fav.name %>
                </li>
            <% }) %>
        </ul>
    <% } %>

    <form method="POST" action="/favorites/clear">
        <button type="submit">Clear Favorite Artists</button>
    </form>
</body>
</html>