<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Spotify Info!</title>
     <link rel="stylesheet" href="/styles.css">
</head>

<body>
	<h1>Artist Search</h1>

    <% if (error === 'invalid') { %>
        <p style="color: red;">Please enter an artist name.</p>
    <% } %>

    <form action="/spotify/search" method="GET">
        <input type="text" name="q" placeholder="Search for artist">
        <button type="submit">Search</button>
    </form>

    <br>

    <a href="/favorites">View Favorite Artists</a>
</body>

</html>