<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Spotify Info!</title>
</head>

<body>
	<h1>Welcome to Spotify Info!</h1>

    <h2>Applicant</h2>

    <ul>
        <li>To apply select <br><br></li>
        <li>To review/update an application select <br></li>
    </ul>
	
	<hr>

    <h2>Admin</h2>
    <ul>
        <li>To select users based on gpa <a href="/adminGPA">Select by GPA</a><br><br></li>
        <li>To remove all applications <a href="/adminRemove">Remove All Applications</a><br></li>
    </ul>
    <hr>
</body>

</html>